*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto 0;
  width: min(100%, 1300px);
  min-height: 100vh;
  padding: 0 1em;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
  height: 70vh;
  margin: 2% auto 0;
  background-image: url(/Banner_img/sebastian-svenson-d2w-_1LJioQ-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header h1 {
  text-transform: capitalize;
  font-family: "Rubik Mono One", sans-serif;
  font-weight: 900;
  font-size: 4em;
  color: #ffffff;
}

header p {
  text-transform: uppercase;
  font-weight: 200;
  color: #e6e6e6;
}

header form {
  display: block;
  margin-top: 5%;
}

header form input {
  display: inline-block;
  outline: none;
  border: none;
  background-color: transparent;
  height: 2rem;
  color: #e6e2e2;
  flex-grow: 1;
}

header form input::placeholder {
  color: #e6e6e6;
  text-transform: capitalize;
}

header form button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  border: transparent;
  background: transparent;
}

section {
  max-width: 100%;
  margin: 5% auto 0;
  display: flex;
  flex-wrap: wrap;
  gap: 2vmin;
  padding: 0 14px 10rem;
}

section .card {
  height: 350px;
  flex-grow: 1;
  border-radius: 2rem;
  overflow: hidden;
  position: relative;
}

section .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: zoom-in;
  transition: 0.6s cubic-bezier(0.08, 0.82, 0.165, 1);
}

section .card img:hover {
  transform: scale(1.1);
  transition: 0.6s cubic-bezier(0.08, 0.82, 0.165, 1);
}

section .card .menu {

  position: absolute;
  top: 3%;
  right: 7%;
  cursor: pointer;
  width: 1rem;
  height: 1rem;
}

section .card .menu:hover .menu_contents{
        
  opacity: 1;
  visibility: visible;
  transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
       
}

.card .menu .menu_contents {

    width: 7.8rem;
    height: 7.8rem;
    position: relative;
    right: 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    opacity: 0;
    visibility: hidden;
}

.card .menu .menu_contents button {

  display: flex;
  place-items: center;
  outline: none;
  padding: .3em;
  width: 7rem;
  cursor: pointer;
  border: 1px solid #e6e2e2;
  margin: .3rem;
}

.card .menu .menu_contents button span{
   
  display: inline-block;
  text-transform: capitalize;
  padding: 0 .1em;
}

.card .menu .menu_contents button a { 

  outline: none;
  padding: .3em;
  display: inline-block;
  color: #252525;
  text-decoration: none;
}

.logo {

  width: 100%;
  text-align: center;
  padding-bottom: 10rem;
}

.bottom_nav {
  position: fixed;
  width: min(450px, 100%);
  height: 4.5rem;
  left: 50%;
  bottom: 1%;
  transform: translate(-50%, -1%);
  border-radius: 5rem;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.9px);
  -webkit-backdrop-filter: blur(7.9px);
  border: 1px solid rgba(255, 255, 255, 0.13);
}

.bottom_nav ul {
  width: 100%;
  height: 100%;
}

.bottom_nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  list-style-type: none;
}

.bottom_nav ul li {
  display: inline-block;
  /* flex-grow: 1; */
  outline: none;
  margin: auto;
}

.bottom_nav ul li:first-child {
  margin: 0 auto 0.1em;
}

.bottom_nav ul li:last-child {
  margin-left: auto;
}
